<div id="process-configuration">
	<form>
		<div id="process-algorithm-configuration-description">
		{{#each inputs}}
			{{#ifAlgorithmInputTypeIsLiteral input-type}}
			
				{{!-- Booleans --}}
				{{#ifAlgorithmDataTypeIsBoolean data-type}}
				<div class="checkbox">
					<label for="input-{{identifier}}">
					    <input type="checkbox" {{defaultChecked default}} id="input-{{identifier}}"/>{{title}}
					</label>
				</div>
				{{/ifAlgorithmDataTypeIsBoolean}}
				
				{{!-- Strings --}}
				{{#ifAlgorithmDataTypeIsString data-type}}
					<div class="form-group">
						<label for="input-{{identifier}}">{{title}}</label>
						{{#if options}}
							{{!-- Select Box --}}
							<select id="input-{{identifier}}" {{isMultiple maxOccurs }} class="form-control">
								{{#each options}}
									<option value="{{this}}" {{defaultSelected this ../default}}>{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							{{!-- Text Box --}}
							<input type="text" class="form-control" id="input-{{identifier}}" />

						{{/if}}
					</div>				
				{{/ifAlgorithmDataTypeIsString}}				
			{{/ifAlgorithmInputTypeIsLiteral}}
			
			{{#ifAlgorithmInputTypeIsComplex input-type}}
				<div class="form-group">
					<label for="input-{{identifier}}">{{title}} (complex)</label>
					<input type="text" class="form-control" id="input-{{identifier}}" />
				</div>
			{{/ifAlgorithmInputTypeIsComplex}}
		{{/each}}
		</div>
		
		<div id="process-algorithm-execution-definition">
			<label for="email">
				<input type="text" class="form-control" id="email" placeholder="Email Address">
			</label>
			<label for="filename">
				<input type="text" class="form-control" id="filename" placeholder="Filename (Optional)">
			</label>
		</div>
		
		<button id="done-btn" class="btn btn-default">Done</button>
	</form>
</div>