
<div class="panel panel-default">
    <div class="panel-heading">Data Details</div>
<form class="panel-body" action="#/">
    <div class="row">
	<div class="col-xs-12 col-sm-4 text-center">Data Source URL</div>
	<input class="col-xs-12 col-sm-7" type="url" required></input>
    </div>
    <div class="row">
	<div class="col-xs-12 col-sm-4 text-center">Parameters</div>
	<select class="col-xs-12 col-sm-7" required multiple>
	    <option value="dummy1">dummy1</option>
	    <option value="dummy2">dummy2</option>
	    <option value="dummy3">dummy3</option>
	    <option value="dummy4">dummy4</option>
	</select>
    </div>
    <div class="row">
	<div class="col-xs-12 col-sm-4 text-center">Date Range</div>
	<input class="col-xs-12 col-sm-3" type="date" required></input>
	<div class="col-xs-12 col-sm-1" >to</div>
	<input class="col-xs-12 col-sm-3" type="date" required></input>
    </div>
    <div class="row center-block">
	<button class="btn btn-default center-block">Done</button>
    </div>
</form>
</div>