
<div id="data-details" class="panel panel-default">
    <div class="panel-heading">Data Details</div>
<form class="panel-body" action="#/">
    <div class="form-group">
	<label for="data-source-url">Data Source URL</label>
	<input id="data-source-url" class="form-control" type="url" required value="{{url}}"/>
    </div>
    <div class="form-group">
	<label for="data-source-vars">Variables</label>
	<select id="data-source-vars" class="form-control" required {{#unless url}}disabled{{/unless}} multiple size="10">
		{{#each variables.models}}
		    {{#with attributes}}
			<option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
		    {{/with}}
		{{/each}}
	</select>
    </div>
    <div class="form-horizontal">
    <div class="form-group">
	<label for="start-date" class="col-xs-12 col-sm-4 text-center">Date Range</label>
	<input id="start-date" class="col-xs-12 col-sm-3" type="text" required {{#unless variables.models.length}}disabled{{/unless}}/>
	<label for="end-date" class="col-xs-12 col-sm-1" >to</label>
	<input id="end-date" class="col-xs-12 col-sm-3" type="text" required {{#unless variables.models.length}}disabled{{/unless}}/>
    </div>
    </div>
    <div class="row center-block">
	<button class="btn btn-default center-block form-control">Done</button>
    </div>
</form>
</div>