<div id="execution-form-container" class="row">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="button-dropdown-algorithm" data-toggle="dropdown" aria-expanded="true">Alg Button<span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="button-dropdown-algorithm">
			{{#each this}}
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{this.attributes.title}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>