<h4>Create spatial extents</h4>
<div id="spatial-map">
	This is where the map will go
</div>
<div id="spatial-area-selection-div">
	<form id="upload-shapefile-form">
		<div class="form-group">
			<label for="qq-file">Upload Shapefile</label>
			<input type="file" id="qqfile" />
		</div>
	</form>
	<form id="shapefile-selection-div">
		<div class="form-group">
			<label for="select-aoi">Select Area of Interest</label>
			<select id="select-aoi"></select>
		</div>
		<div class="form-group">
			<label for="select-attribute">Select Attribute</label>
			<select id="select-attribute"></select>
		</div>
		<div class="form-group">
			<label for="select-values">Select Value(s)</label>
			<select multiple id="select-values"></select>
		</div>
	</form>
</div>