<h4>Create spatial extents</h4>
<div id="spatial-map">
</div>
<div id="spatial-area-selection-div">
	<form id="upload-shapefile-form">
		<div class="form-group">
			<label for="qq-file">Upload Shapefile</label>
			<input class="form-control" type="file" id="qqfile" />
		</div>
	</form>
	<form id="shapefile-selection-div">
		<div class="form-group">
			<label for="select-aoi">Select Area of Interest</label>
			<select class="form-control" id="select-aoi">
				<option></option>
			</select>
		</div>
		<div class="form-group">
			<label for="select-attribute">Select Attribute</label>
			<select class="form-control" id="select-attribute">
				<option></option>	
			</select>
		</div>
		<div class="form-group">
			<label for="select-values">Select Value(s)</label>
			<select class="form-control" multiple id="select-values">
				<option></option>				
			</select>
		</div>
	</form>
</div>