.welcome-view-div {
	position : relative;
	min-height : 30px;

	.welcome-jumbotron {
		.make-row();
		margin-bottom : 0px;
	
	}
	.toggle-welcome-container {
		position : absolute;
		width : 100%;
		top : 0px;
		.toggle-welcome {
			.center-block();
		}
	}
}
.advanced-users-form-container {
	margin-top : 10px;
}
	
.advanced-users-form-container form {
	display:inline-block;
}

