	
<dl>
	<dt>Title</dt>
	<dd>{{title}}</dd>
</dl>
<dl>
	<dt>Abstract</dt>
	<dd>{{{abstrct}}}</dd>
</dl>
<dl>
	<dt>Point of Contacts</dt>
	{{#each contactInfo}}
	<dd>{{this.name}}</dd>
	<dd>
		{{#each this.emails}}
			{{#if @last}}{{this}}{{else}}{{this}},&nbsp;{{/if}}
		{{/each}}
	</dd>
	<dd>{{{this.orgName}}}</dd>
	{{#if @last}}{{else}}<br/>{{/if}}
	{{/each}}
</dl>
<dl>
	<dt>Time Range</dt>
	<dd>
		{{#if datasetTimeRange}}{{datasetTimeRange.start}} - {{datasetTimeRange.end}}</dd>
		{{else}}Not Available
		{{/if}}
	</dd>
</dl>
<dl>
	<dt>Distribution Info</dt>
	<dd>
	{{#if distributionInfo}}
	{{distributionInfo.name}} - <a target="_blank" href="{{distributionInfo.url}}">{{distributionInfo.url}}</a>
	{{else}}Not Available
	{{/if}}
	</dd>
</dl>
<div>
	<strong>Data Sources available for GDP processing</strong>
	<ul>
		{{#each dataSources}}
		<li>{{this.title}}</li>
		{{/each}}
	</ul>
</div>
<div>
	<strong>Available algorithms for data sources</strong>
	<ul>
		{{#each algorithms}}
		<li>{{title}}</li>
		{{/each}}
	</ul>
</div>
