<div class="jumbotron">
	<h1>Welcome to the USGS Geo Data Portal</h1>
	<p>This page is a catalog of the datasets that have been tested to 
            work well for access with the Geo Data Portal (GDP). Select a 
            dataset below to see more details and access it.</p>
        <p><a href="https://my.usgs.gov/confluence/display/GeoDataPortal/GDP+Home"  target="_blank">
            For more information about the GDP, please visit the 
            documentation home here.</a></p>
        <p>The increasing availability of downscaled climate projections and 
            other large data products that summarize or predict climate and 
            land use conditions, is making use of these data more common in 
            research and management. Scientists and decision makers often need 
            to construct ensembles and compare climate hindcasts and future 
            projections for particular spatial areas. These tasks generally 
            require an investigator to procure all datasets of interest en 
            masse, integrate the various data formats and representations into 
            commonly accessible and comparable formats, and then extract the 
            subsets of the datasets that are actually of interest. This process 
            can be challenging and time intensive due to data-transfer, 
            -storage, and(or) -processing limits, or unfamiliarity with methods 
            of accessing climate and land use data. Data management for 
            modeling and assessing the impacts of future climate conditions 
            is also becoming increasingly expensive due to the size of the 
            datasets. The Geo Data Portal addresses these limitations, making 
            access to numerous climate datasets for particular areas of 
            interest a simple and efficient task.</p>
        <a href="http://cida.usgs.gov/gdp/client/?development=true"  target="_blank">
            Go here for the Geo Data Portal interface for developers and 
            advanced users. Most users should select a dataset from this page</a>
{{#if aoiMessageContext.sciencebase}}
	<div>
		<a href="{{aoiMessageContext.sciencebase.url}}" target="_blank">Areas of interest from ScienceBase already selected.</a>
	</div>
{{/if}}

{{#if aoiMessageContext.defaultCaller}}
	<div>
		Areas of interest {{aoiMessageContext.defaultCaller.itemId}} from {{aoiMessageContext.defaultCaller.caller}} already selected.
	</div>
{{/if}}
</div>


<div class="dataset-select-container">
	
	<div class="dataset-tile-panel-div panel panel-default">
		<div class="panel-heading">
			 <h2 class="panel-title">Dataset Selection</h2>
		</div>
		<div class="panel-body">
			<div class="dataset-filter-container">
				<div class="dataset-filter">
					<div>Search&nbsp;</div>
					<input type="text" class="dataset-search-input" />
				</div>
				<div class="dataset-filter">
					<div>Algorithms</div>
					{{#each algorithmFilters}}
					<div class="algorithm-filter-container">
						<input type="checkbox" id="algorithm{{@index}}" class="algorithm-type-filter" value="{{this}}" />
						<label for="algorithm{{@index}}">{{this}}
					</div>
					{{/each}}
				</div>
			</div>
			<div class="dataset-tile-container">
			<div class="text-center tile-loading-indicator"><i class="fa fa-spin fa-refresh fa-4x"></i></div>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="data-set-modal-dialog-label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Select Data Source</h4>
			</div>
			<div class="modal-body container-fluid">
				<div class="dataset-dialog-loading-indicator text-center"><i class="fa fa-spin fa-refresh fa-5x"></i></div>
				<div class="dataset-dialog-contents"></div>
			</div>
			<div class="modal-footer">
				<form class="process-form" method="POST">
					<button type="button" class="btn btn-default cancel-btn">Cancel</button>
					{{#each incomingParams}}
						<input type="hidden" name="{{@key}}" value="{{this}}" />
					{{/each}}
					<button type="submit" class="btn btn-primary process-btn">Process Data Source</button>
				</form>
			</div>
		</div>
	</div>
</div>
