<div id="job-processing-div" >
	<button id="submit-job-btn" {{#if invalidJob}}disabled{{/if}} class="center-block btn btn-primary">Submit Job for Processing</button>
</div>
<div id="job-processing-messages-div"></div>
<div id="job-results-div">
	<button id="retrieve-output-btn" class="btn btn-primary">Retrieve Output</button>
	<button id="retrieve-input-btn" class="btn btn-primary">Retrieve Process Input</button>
</div>
<div id="tiles-div" class="row">
	<div class="loading-indicator"><i class="fa fa-5x fa-spinner fa-spin"></i></div>
	<div class="hub-tile" id="spatial-wrapper">
		 <div class="panel panel-default"  >
			<div class="panel-heading">Spatial</div>
			<div class="panel-body">
				{{#each messages.spatial}}
					<div class="bg-danger">{{this}}</div>
				{{/each}}
				<h5>Selected Area of Interest</h5>
				<div class="selected-option">
					{{jobModel.aoiName}}&nbsp;
				</div>
				<div id="hub-spatial-inset-map"></div>
				<h5>Selected Attribute</h5>
				<div class="selected-option">
					{{jobModel.aoiAttribute}}&nbsp;
				</div>
				<h5>Number of Selected Values</h5>
				<div class="selected-option">
					{{#if areAllAOIVariablesSelected}}All
					{{else}}{{jobModel.aoiAttributeValues.length}}
					{{/if}}
				</div>
				<div class="hub-tile-button-div">
					<button id="edit-spatial-btn" class="btn btn-primary">Edit Spatial</button>
				</div>
			</div>
		</div>
	</div>

	<div class="hub-tile" id="data-detail-wrapper">
		<div class="panel panel-default">
			<div class="panel-heading">Data Detail</div>
			<div class="panel-body">
				{{#each messages.dataDetails}}
					<div class="bg-danger">{{this}}</div>
				{{/each}}
				<h5>Data Source URL</h5>
				<div class="selected-option">
					{{jobModel.dataSourceUrl}}&nbsp;
				</div>
				<h5>Number of Selected Variables</h5>
				<div class="selected-option">
					{{selectedVariables jobModel.dataSourceVariables.models}}
				</div>
				<h5>Date Range</h5>
				<div class="selected-option">
					{{#if jobModel.startDate}}
						{{#if jobModel.endDate }}
							{{jobModel.startDate}} - {{jobModel.endDate}}
						{{/if}}
					{{/if}}
					&nbsp;
				</div>
				<div class="hub-tile-button-div">
					<a href="datadetail" id="edit-detail-btn"  role="button" class="btn btn-primary">Edit Data Detail</a>
				</div>
			</div>
		</div>
	</div>
	<div id="hub-tile-blank-row"></div>

	<div class="hub-tile" id="process-wrapper">
		<div class="panel panel-default">
			<div class="panel-heading">Algorithm Selected</div>
			<div class="panel-body">
				{{#each messages.algorithm}}
					<div class="bg-danger">{{this}}</div>
				{{/each}}
				<h5>Algorithm Selected</h5>
				<div class="selected-option">
					{{selectedProcess.title}}&nbsp;
				</div>
				{{#each jobModel.processVariables.attributes}}
					{{#ifBoolean this}}
						<h5>{{variableTitle @key ../../selectedProcess}} is {{this}}</h5>
					{{/ifBoolean}}
					{{#ifNotBoolean this }}
						<h5>{{variableTitle @key ../../selectedProcess}}</h5>
						<div class="selected-option">{{formatProcessText this}}&nbsp;</div>
					{{/ifNotBoolean}}
				{{/each}}
				<h5>Email</h5>
				<div class="selected-option">
					{{jobModel.email}}&nbsp;
				</div>
				<h5>Filename</h5>
				<div class="selected-option">
					{{jobModel.filename}}&nbsp;
				</div>
				<div class="hub-tile-button-div">
					<a href="process" id="edit-process-btn" role="button" class="btn btn-primary">Edit Process</a>
				</div>
			</div>
		</div>
	</div>
	<div class="hub-tile" id="dataset-metadata-wrapper">
		<div class="panel panel-default">
			<div class="panel-heading">Dataset Metadata</div>
			<div class="panel-body"></div>
		</div>
	</div>
</div>