<div class="welcome-view-div">

    <div class="welcome-content">
        <h1>Welcome to the USGS Geo Data Portal</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vivamus accumsan, ipsum ac sollicitudin tempus, sapien 
            enim interdum velit, egestas maximus arcu tortor efficitur 
            quam. Maecenas scelerisque vitae augue ultrices dapibus. 
            Integer sed est orci. Quisque pulvinar, turpis vitae 
            pellentesque venenatis, eros sapien dignissim risus, 
            vitae laoreet ex lacus et elit. 
        </p>

        <div id="gdpoptions">

            <a href="https://github.com/USGS-CIDA/pyGDP">
                <div class="gdpOptionContainer">
                    <div class="gdpOption">
                        <h4>PYGDP</h4>
                        <div class="optionImage">
                            <img id="python" src="images/python.svg" alt="Python Language Logo"/>
                        </div>
                    </div>
                </div>
            </a>    


            <div id="gdpGui" class="gdpOptionContainer">
                <div class="gdpOption">
                    <h4>GDP WEB</h4>
                    <div class="optionImage">
                        <img id="gdp" src="images/gdp.svg" alt="Geo Data Portal Logo"/>
                    </div>
                </div>
            </div>

            <a href="https://github.com/USGS-R/geoknife">
                <div class="gdpOptionContainer">
                    <div class="gdpOption">
                        <h4>R:GEOKNIFE</h4>
                        <div class="optionImage">
                            <img id="R" src="images/r.svg" alt="R Language Logo"/>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="citationArea">
            <h5>Cite GDP</h5>
            <div class="citationHolder">
                <div id="copyCitation">
                    <p>Copy</p>
                </div>
                <input id="copyTarget" class="citation" type="text" name="GDPCitation" value="Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce leo velit, consequat in venenatis nec, auctor ac mi. Aenean non turpis sed justo aliquet consequat ut quis orci. In condimentum mi metus, ut suscipit nibh sodales eget. Morbi pretium pellentesque diam molestie hendrerit. Praesent non finibus neque. Donec aliquet ullamcorper eros, quis tristique erat. Vestibulum scelerisque pellentesque euismod. Nam imperdiet arcu a sollicitudin facilisis. Nam tellus enim, vehicula vel purus pretium, sodales viverra tortor. Phasellus eu elit ac urna tincidunt laoreet. Donec molestie egestas turpis nec bibendum. Nunc eget condimentum eros, eget pharetra velit."/>
            </div>
        </div>

    </div>
    <div class="toggleButtonArea">
        <div class="welcomeToggleButton">
            <img id="Arrow" class="toggleArrow" src="images/togglearrow-01.png" alt="toggle arrow"/>
        </div>
    </div>
</div>
