<div class="welcome-view-div">
	<div class="jumbotron welcome-jumbotron"  {{#if hide }}style="display:none;"{{/if}}>
		<h1>Welcome to the USGS Geo Data Portal</h1>
		<div class="welcome-content">
			<div>This page is a catalog of the datasets that have been tested to 
					work well for access with the Geo Data Portal (GDP). Select a 
					dataset below to see more details and access it.</div>
			<div><a href="https://my.usgs.gov/confluence/display/GeoDataPortal/GDP+Home"  target="_blank">
				For more information about the GDP, please visit the 
				documentation home here.</a></div>
			<div>The increasing availability of downscaled climate projections and 
				other large data products that summarize or predict climate and 
				land use conditions, is making use of these data more common in 
				research and management. Scientists and decision makers often need 
				to construct ensembles and compare climate hindcasts and future 
				projections for particular spatial areas. These tasks generally 
				require an investigator to procure all datasets of interest en 
				masse, integrate the various data formats and representations into 
				commonly accessible and comparable formats, and then extract the 
				subsets of the datasets that are actually of interest. This process 
				can be challenging and time intensive due to data-transfer, 
				-storage, and(or) -processing limits, or unfamiliarity with methods 
				of accessing climate and land use data. Data management for 
				modeling and assessing the impacts of future climate conditions 
				is also becoming increasingly expensive due to the size of the 
				datasets. The Geo Data Portal addresses these limitations, making 
				access to numerous climate datasets for particular areas of 
				interest a simple and efficient task.
			</div>
			<a href="{{baseUrl}}client/#!advanced"  target="_blank">
				Go here for the Geo Data Portal interface for developers and 
				advanced users. Most users should select a dataset from this page</a>
			{{#if aoiMessageContext.sciencebase}}
			<div>
				<a href="{{aoiMessageContext.sciencebase.url}}" target="_blank">Areas of interest from ScienceBase already selected.</a>
			</div>
			{{/if}}

			{{#if aoiMessageContext.defaultCaller}}
			<div>
				Areas of interest {{aoiMessageContext.defaultCaller.itemId}} from {{aoiMessageContext.defaultCaller.caller}} already selected.
			</div>
			{{/if}}
		</div>
	</div>
	<div class="toggle-welcome-container">
		<button class="toggle-welcome" type="button" title="{{button.buttonTitle}}"><i class="fa {{button.buttonIcon}}"></i></button>
	</div>
</div>
