<div class="welcome-view-div">

    <div class="welcome-content">
        <h1>Welcome to the USGS Geo Data Portal</h1>
        <p>
            The Geo Data Portal (GDP) provides access to numerous datasets, including gridded data for climate and land use. Datasets can be subsetted or sumarized before download using several algorithms, and these algorithms can also be applied to other web datasets hosted elsewhere. Users can interact with the GDP through the tools listed below. 
        </p>

        <div id="gdpoptions">

            <a href="https://github.com/USGS-CIDA/pyGDP">
                <div class="gdpOptionContainer">
                    <div class="gdpOption">
                        <h4>pyGDP</h4>
                        <div class="optionImage">
                            <img src="{{pathToImages}}/images/python.svg" alt="Python Language Logo"/>
                        </div>
                    </div>
                </div>
            </a>    


            <div id="gdpGui" class="gdpOptionContainer">
                <div class="gdpOption">
                    <h4>GDP web</h4>
                    <div class="optionImage">
                        <img src="{{pathToImages}}/images/gdp.svg" alt="Geo Data Portal Logo"/>
                    </div>
                </div>
            </div>

            <a href="https://github.com/USGS-R/geoknife">
                <div class="gdpOptionContainer">
                    <div class="gdpOption">
                        <h4>geoknife</h4>
                        <div class="optionImage">
                            <img src="{{pathToImages}}/images/r.svg" alt="R Language Logo"/>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="citationArea">
            <h5>Cite GDP</h5>
            <div class="citationHolder">
                <div id="copyCitation">
                    <p>Copy</p>
                </div>
                <input id="copyTarget" class="citation" type="text" name="GDPCitation" value="Blodgett, David L., Nathaniel L. Booth, Thomas C. Kunicki, Jordan I. Walker, and Roland J. Viger. Description and testing of the Geo Data Portal: Data integration framework and Web processing services for environmental science collaboration. No. 2011-1157. US Geological Survey, 2011."/>
            </div>
        </div>

    </div>
    <div class="toggleButtonArea">
        <div class="welcomeToggleButton">
            <img id="Arrow" class="toggleArrow" src="{{pathToImages}}/images/togglearrow-01.png" alt="toggle arrow"/>
        </div>
    </div>
</div>
