@charset "UTF-8";
/* CSS Document */

#advanced-page-content {
	margin-top : 15px;
	margin-bottom: 15px;
	font-size: normal;
}

.selected-option{
	background:#fff;
	border:1px solid #ccc;
	border-radius:5px;
	padding:5px 8px;
	color:#555;
	overflow:hidden;
	text-align: left;
	}

#spatial-map-container {
	margin-bottom : 15px;
}

#spatial-map {
	height: 400px;
	border: 1px solid black;
}

#draw-polygon-div {
	display: none;
}

#select-values {
	height: 200px;
}

#upload-indicator {
	display: none;
}
.checkbox label {
	font-weight: bold;
}
.hub-tile h5 {
	font-weight: bold;
}
.hub-tile .panel-body {
	padding: 10px;
}
.hub-tile .panel-heading {
	text-align: center;
	font-weight: bold;
}
.hub-tile-button-div {
	margin-top : 10px;
	text-align: center;
}
#hub-spatial-inset-map {
	height: 250px;
	border : 1px solid black;
}
#job-results-div {
	display: none;
}
