<div id="process-configuration">
	<form action="#/" >
		<div id="process-algorithm-configuration-description">
		{{#each inputs}}
			{{#ifAlgorithmInputTypeIsLiteral input-type}}
			
				{{!-- Booleans --}}
				{{#ifAlgorithmDataTypeIsBoolean data-type}}
				<div class="checkbox">
					<label for="input-{{identifier}}">
					    <input type="checkbox" {{defaultChecked default}} id="input-{{identifier}}"/>{{title}}
					</label>
					<div class="text-muted"><small>{{abstract}}</small></div>
				</div>
				{{/ifAlgorithmDataTypeIsBoolean}}
				
				{{!-- Strings --}}
				{{#ifAlgorithmDataTypeIsString data-type}}
					<div class="form-group">
						<label for="input-{{identifier}}">{{title}}</label>
						<div class="text-muted"><small>{{abstract}}</small></div>
						{{#if options}}
							{{!-- Select Box --}}
							<select {{isRequired minOccurs}} id="input-{{identifier}}" {{isMultiple maxOccurs }} class="form-control">
								{{#each options}}
									<option value="{{this}}" {{defaultSelected this ../default}}>{{this}}</option>
								{{/each}}
							</select>
						{{else}}
							{{!-- Text Box --}}
							<input {{isRequired minOccurs}} type="text" class="form-control" id="input-{{identifier}}" />

						{{/if}}
					</div>				
				{{/ifAlgorithmDataTypeIsString}}				
			{{/ifAlgorithmInputTypeIsLiteral}}
			
			{{#ifAlgorithmInputTypeIsComplex input-type}}
				<div class="form-group">
					<label for="input-{{identifier}}">{{title}} (complex)</label>
					<div class="text-muted"><small>{{abstract}}</small></div>
					<input {{isRequired minOccurs}} type="text" class="form-control" id="input-{{identifier}}" />
				</div>
			{{/ifAlgorithmInputTypeIsComplex}}
		{{/each}}
		</div>
		
		<div id="process-algorithm-execution-definition">
			<label for="email">
				<input type="text" class="form-control" id="email" placeholder="Email Address" value="{{job.email}}">
			</label>
			<label for="filename">
				<input type="text" class="form-control" id="filename" placeholder="Filename" value="{{job.filename}}">
			</label>
		</div>
		
		<button type="submit" class="btn btn-default">Done</button>
	</form>
</div>