<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>gdp_web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>process_client</servlet-name>
		<jsp-file>/process_client.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>process_client</servlet-name>
		<url-pattern>/client/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>config</servlet-name>
		<jsp-file>/WEB-INF/jsp/config.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>config</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>algorithms</servlet-name>
		<jsp-file>/WEB-INF/jsp/algorithms.json</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>algorithms</servlet-name>
		<url-pattern>/algorithms</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>GeoServerProxyServlet</servlet-name>
        <servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
        <init-param>
            <param-name>forward-url-param</param-name>
            <param-value>gdp.geoserver.endpoint</param-value>
        </init-param>
        <init-param>
            <param-name>readTimeout</param-name>
            <param-value>300000</param-value>
        </init-param>
    </servlet>
	 <servlet-mapping>
        <servlet-name>GeoServerProxyServlet</servlet-name>
        <url-pattern>/geoserver/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UtilityWpsProxyServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
		<param-name>forward-url-param</param-name>
		<param-value>gdp.endpoint.utilityWps</param-value>
		</init-param>
		<init-param>
		<param-name>readTimeout</param-name>
		<param-value>300000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UtilityWpsProxyServlet</servlet-name>
		<url-pattern>/utilityWps/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProcessWpsProxyServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>gdp.endpoint.processWps</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessWpsProxyServlet</servlet-name>
		<url-pattern>/processWps/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CWSProxyServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>gdp.endpoint.csw</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CWSProxyServlet</servlet-name>
		<url-pattern>/csw/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CatalogWMSProxyServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>gdp.endpoint.catalogwms</param-value>
		</init-param>
		<init-param>
			<param-name>readTimeout</param-name>
			<param-value>300000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CatalogWMSProxyServlet</servlet-name>
		<url-pattern>/catalogwms/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>shapefile-upload-servlet</servlet-name>
        <servlet-class>gov.usgs.cida.geoutils.geoserver.servlet.ShapefileUploadServlet</servlet-class>
        <!--
		Used for reading JNDI variables. All JNDI variables used for this application
		will be prefixed with this parameter. Example:
		<Environment name="coastal-hazards.max.upload.file.size" type="java.lang.String" value="20000" />
		-->
        <init-param>
            <param-name>application.name</param-name>
            <param-value>gdp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>shapefile-upload-servlet</servlet-name>
        <url-pattern>/uploadhandler</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>bounding-box-recalculation-servlet</servlet-name>
        <servlet-class>gov.usgs.cida.geoutils.geoserver.servlet.BoundingBoxRecalculationServlet</servlet-class>
        <!--
		Used for reading JNDI variables. All JNDI variables used for this application
		will be prefixed with this parameter. Example:
		<Environment name="coastal-hazards.max.upload.file.size" type="java.lang.String" value="20000" />
		-->
        <init-param>
            <param-name>application.name</param-name>
            <param-value>gdp</param-value>
        </init-param>
    </servlet>
	<servlet-mapping>
        <servlet-name>bounding-box-recalculation-servlet</servlet-name>
        <url-pattern>/recalculatebbox</url-pattern>
    </servlet-mapping>
	
	<filter>
        <filter-name>SearchBotUglyUrlFilter</filter-name>
        <filter-class>gov.usgs.cida.ajax_search_crawler_tools.SearchCrawlerUglyUrlFilter</filter-class>
        <init-param>
                <param-name>search-crawler-servicer</param-name>
                <param-value>gov.usgs.cida.ajax_search_crawler_tools.servicer.SHA1SkeletonResourceServicer</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SearchBotUglyUrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>